@import "tailwindcss";

@font-face {
  font-family: "Circular Std";
  src: url("/public/assets/fonts/circular-std_Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("/public/assets/fonts/circular-std_BookItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("/public/assets/fonts/circular-std_Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("/public/assets/fonts/circular-std_Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("/public/assets/fonts/circular-std_BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("/public/assets/fonts/circular-std_Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("/public/assets/fonts/circular-std_BlackItalic.woff2")
    format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@theme {
  /* backgrounds */
  --color-primary: #171717;
  --color-secondary: #1f1f1f;
  --color-secondary-hover: #2e2e2e;
  --color-dropdown: #1a1a1a;

  /* text / foreground */
  --color-foreground: #fafafa;
  --color-foreground-muted: #4d4d4d;
  --color-foreground-light: #b4b4b4;
  --color-foreground-lighter: #898989;

  /* brand palette */
  --color-brand: #1e88e5;
  --color-brand-50: color-mix(in oklab, white 92%, #1e88e5);
  --color-brand-100: color-mix(in oklab, white 84%, #1e88e5);
  --color-brand-200: color-mix(in oklab, white 72%, #1e88e5);
  --color-brand-300: color-mix(in oklab, white 56%, #1e88e5);
  --color-brand-400: color-mix(in oklab, white 36%, #1e88e5);
  --color-brand-500: #1e88e5;
  --color-brand-600: color-mix(in oklab, black 16%, #1e88e5);
  --color-brand-700: color-mix(in oklab, black 30%, #1e88e5);
  --color-brand-800: color-mix(in oklab, black 45%, #1e88e5);
  --color-brand-900: color-mix(in oklab, black 60%, #1e88e5);

  /* ring */
  --color-background-control: #242424;

  /* overlay */
  --color-overlay-default: #242424;
  --color-overlay-hover: #2e2e2e;

  /* sidebar */
  --color-sidebar-active: #313131;

  /* link */
  --color-link: #1e88e5;
  --color-link-hover: #82c7ff;
  --color-link-disabled: #797775;
  --color-disabled: #797775;

  /* status */
  --color-success: rgba(85, 163, 98, 1);
  --color-error: #e54d2e;
  --color-warning: rgb(192, 144, 2);
  --color-pending: rgba(0, 120, 212, 1);

  /* border */
  --color-border: #2e2e2e;
  --color-border-strong: #454545;
  --color-border-mutted: #323130;

  /* size */
  --text-2xs: 0.625rem;
  --text-2xs--line-height: calc(1 / 0.625);

  /* padding */
  --padding-sm: 1rem;

  /* box shadow */
  --inset-shadow-sidebar: inset 3px 0 var(--link);
  --inset-shadow-tabbar: inset 0 -3px var(--link);

  --font-family: "Circular Std", sans-serif;

  /*borders*/
  --border-overlay: #333333
}

@layer base {
  * {
    @apply border-border;
    @apply divide-border;
  }

  html {
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: "Circular Std", sans-serif;
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
    font-weight: 400;
    margin: 0;
    padding: 0;

    @apply bg-primary text-foreground;
  }

  [x-cloak] {
    display: none !important;
  }

  ::-webkit-scrollbar {
    height: 8px;
    width: 1.5px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--border-mutted);
    border-radius: 20px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /*autofill*/
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid #434346;
    -webkit-text-fill-color: #f1f1f1;
    -webkit-box-shadow: 0 0 0px 1000px #1b1b1c inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  h1 {
    letter-spacing: -0.025em;
    scroll-margin: 5rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  h1 {
    letter-spacing: -0.025em;
    scroll-margin: 5rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  h2 {
    scroll-margin: 5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  h3 {
    scroll-margin: 5rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  h4,
  h5 {
    scroll-margin: 5rem;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
  }

  h6 {
    scroll-margin: 5rem;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1rem;
  }
}

/* progress indicator starts */

.progress-indicator {
  position: fixed;
  z-index: 1000;
  height: 2px;
  width: 100%;
  border-radius: 2px;
  background-clip: padding-box;
  overflow: hidden;
  display: none;
}

.progress-indicator .indeterminate:before {
  content: "";
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.progress-indicator .indeterminate:after {
  content: "";
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1)
    infinite;
  animation-delay: 1.15s;
}

.htmx-request.progress-indicator {
  display: inline;
}

.htmx-indicator {
  opacity: 0;
  visibility: hidden;
}
.htmx-request .htmx-indicator,
.htmx-request.htmx-indicator {
  opacity: 1;
  visibility: visible;
  transition: opacity 200ms ease-in;
}

/* Spinner */
.spinner {
  width: 100%;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background:
    linear-gradient(
        0deg,
        rgb(40 153 245/50%) 30%,
        #0000 0 70%,
        rgb(40 153 245/100%) 0
      )
      50%/8% 100%,
    linear-gradient(
        90deg,
        rgb(40 153 245/25%) 30%,
        #0000 0 70%,
        rgb(40 153 245/75%) 0
      )
      50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}

.spinner::after {
  opacity: 0.83;
  transform: rotate(60deg);
}

@keyframes l23 {
  100% {
    transform: rotate(1turn);
  }
}

@utility button {
  @apply flex justify-center items-center gap-1 px-6 py-1 h-[34px] opacity-90 cursor-pointer hover:opacity-100 transform transition-transform active:scale-95 focus:outline-hidden focus-visible:ring-2 disabled:cursor-not-allowed disabled:opacity-50 disabled:transition-none disabled:transform-none rounded-xs hover:no-underline font-medium text-white;
}

@utility link {
  @apply text-link hover:text-link-hover cursor-pointer disabled:text-link-disabled hover:underline disabled:hover:no-underline;
}

.button-link {
  @apply flex justify-center items-center gap-1 text-link hover:text-link-hover cursor-pointer disabled:text-link-disabled disabled:hover:no-underline px-1 py-1 transform transition-transform active:scale-95 focus:outline-hidden focus-visible:ring-2 disabled:cursor-not-allowed disabled:opacity-50 disabled:transition-none disabled:transform-none rounded-xs hover:no-underline;
}

.button-primary {
  @apply button bg-brand border border-brand;
}

.button-inert {
  @apply button bg-transparent border border-brand/80 text-brand/80 px-2;
}

.button-neutral {
  @apply button bg-transparent border;
}

.button-danger {
  @apply button bg-error border border-error;
}

.button-success {
  border-color: var(--success);
}

.button-error {
  border-color: var(--error);
}

.heading-subSection {
  scroll-margin: 5rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.form {
  @apply w-full [&>div]:py-4 [&>div]:px-sm [&>div]:border-b [&>div:last-child]:border-none;
}

.disabled {
  pointer-events: none;
  /* Disable clicks & hover */
  opacity: 0.5;
  /* Make it look inactive */
  cursor: not-allowed;
  /* Show disabled cursor */
  filter: grayscale(50%);
  /* Optional: Slightly gray it out */
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }

  60% {
    left: 107%;
    right: -8%;
  }

  100% {
    left: 107%;
    right: -8%;
  }
}

/* progress indicator ends */

/*custom fonts*/
.font-sans {
  font-family: var(--font-family);
}
/* icons overrides */
.icon-2xs::before {
  font-size: var(--text-2xs) !important;
}

.icon-sm::before {
  font-size: var(--text-sm) !important;
}

.icon-base::before {
  font-size: var(--text-base) !important;
}

.icon-lg::before {
  font-size: var(--text-lg) !important;
}

.icon-xl::before {
  font-size: var(--text-xl) !important;
}

.icon-2xl::before {
  font-size: var(--text-2xl) !important;
}

.icon-3xl::before {
  font-size: var(--text-3xl) !important;
}

.icon-4xl::before {
  font-size: var(--text-4xl) !important;
}

.icon-plain {
  color: var(--text-secondary) !important;
}

/* htmx defaults */
.htmx-indicator {
  display: none;
}

.htmx-request .htmx-indicator {
  display: inline-block;
  transition: opacity 200ms ease-in;
}

.htmx-request.htmx-indicator {
  display: inline-block;
  transition: opacity 200ms ease-in;
}

/* uChart */
.u-title {
  @apply text-foreground-light;
  font-size: var(--text-base) !important;
  font-weight: 500 !important;
}

.u-label {
  @apply text-foreground-light;
}

.u-value {
  @apply text-sm;
}
