package vdeployment

import (
	"github.com/cloudness-io/cloudness/app/web/views/components/icons"
	"github.com/cloudness-io/cloudness/app/web/views/shared"
)

templ header() {
	<div class="flex items-center gap-1">
		@shared.Icon(icons.DeploymentIcon, "size-6 icon-2xl")
		<h3>Deployments</h3>
	</div>
}
