package venvironment

import "github.com/cloudness-io/cloudness/app/web/views/components/icons"

templ Header(showCreate bool) {
	<div class="flex items-center gap-1">
		<i class={ icons.EnvironmentIcon, "icon-2xl" }></i>
		<h3>Environments</h3>
		if showCreate {
			@createButton()
		}
	</div>
}
