package shared

import (
	"github.com/cloudness-io/cloudness/app/web/views"
	"strings"
)

templ Icon(icon string, class string) {
	if strings.HasSuffix(icon, ".svg") {
		if strings.HasPrefix(icon, "http://") || strings.HasPrefix(icon, "https://") {
			<img class={ "size-4", class } src={ icon }/>
		} else {
			<img class={ "size-4", class } src={ views.Asset(icon) }/>
		}
	} else {
		<i class={ icon, "icon-base", class }></i>
	}
}
