package shared

import (
	"github.com/cloudness-io/cloudness/app/web/views"
	"strings"
)

templ Icon(icon string, class string) {
	if strings.HasSuffix(icon, ".svg") {
		<img class={ "size-4", class } src={ views.Asset(icon) }/>
	} else {
		<i class={ icon, "icon-base", class }></i>
	}
}
