package shared

templ OverlaySpinner() {
	<div
		id="overlay-spinner"
		class="fixed top-0 left-0 w-full h-full bg-primary/30 backdrop-blur-xs z-50 htmx-indicator"
	>
		<div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 size-12 border-4 border border-t-transparent border-solid text-foreground-light rounded-full animate-spin"></div>
	</div>
}
