package shared

templ Spinner() {
	<div
		class="animate-spin inline-block size-5 border-3 border-current border-t-transparent rounded-[999px] text-foreground-lighter"
		role="status"
		aria-label="loading"
	></div>
}

templ SpinnerTiny() {
	<div
		class="animate-spin inline-block size-3 border-2 border-current border-t-transparent rounded-[999px] text-foreground-lighter"
		role="status"
		aria-label="loading"
	></div>
}
