package vgithubapp

import "github.com/cloudness-io/cloudness/app/web/views/components/icons"
import "github.com/cloudness-io/cloudness/app/request"

templ createButton() {
	if request.IsProjectOwner(ctx) {
		<button class="button-link" x-on:click="openAddGithubAppModal = true">
			<i class={ icons.AddIcon }></i> Create
		</button>
	}
}
