package vgithubapp

import (
	"github.com/cloudness-io/cloudness/app/web/views/components/icons"
	"github.com/cloudness-io/cloudness/app/web/views/shared"
)

templ header() {
	<div class="flex items-center gap-1">
		@shared.Icon(icons.SourceGithubIcon, `size-6`)
		<h3>Github Apps</h3>
		@createButton()
	</div>
}
