package components

templ ThemeSwitcher() {
	<div x-show="theme === 'dark'" class="cursor-pointer" @click={ "theme = 'light'" }>
		@LightIcon()
	</div>
	<div x-show="theme === 'light'" class="cursor-pointer" @click={ "theme = 'dark'" }>
		@DarkIcon()
	</div>
}

templ DarkIcon() {
	<span class="gg-moon"></span>
}

templ LightIcon() {
	<span class="gg-sun"></span>
}
