package pages

import (
	"github.com/cloudness-io/cloudness/app/web/views/components/vtenant"
	"github.com/cloudness-io/cloudness/app/web/views/shared"
	"github.com/cloudness-io/cloudness/types"
)

templ Home(tenants []*types.TenantMembershipUser) {
	@shared.PageContainer(shared.PageSizeMedium) {
		@shared.PageHeaderShort() {
			<h1>Teams </h1>
		}
		@shared.PageContentShort() {
			@shared.PageSectionEmpty() {
				@vtenant.ListTenants(tenants)
			}
		}
	}
}
