package vtemplate

templ icon(src string) {
	if src != "" {
		<img src={ src } class="h-7 w-7"/>
	} else {
		<i class="ph-thin ph-cube h-7 w-7"></i>
	}
}

templ serviceIcon(src string) {
	if src != "" {
		<img src={ src } class="h-6 w-6"/>
	} else {
		<i class="ph-thin ph-cube h-6 w-6"></i>
	}
}
