package vserver

import "github.com/cloudness-io/cloudness/types"

templ Settings(server *types.Server) {
	@generalSetting(server)
	@networkSetting(server)
	@runnerSettings(server)
	@limits(server)
	@listCertificatesContainer()
}
