package vaccount

import "github.com/cloudness-io/cloudness/types"
import "github.com/cloudness-io/cloudness/app/web/views/shared"

templ Session(user *types.User) {
	@accountHeader(user.DisplayName)
	@shared.PageView(&shared.PageViewProps{
		ActiveName: AccountNavSession,
		Options:    getAccountPageNav(),
	}) {
		@shared.Maintainance(&shared.MaintainanceProps{
			Header: "This page is under construction",
		})
	}
}
