package views

templ ValidationErrors(errs map[string]string) {
	for key, msg := range errs {
		@validationError(key, msg)
	}
}

templ validationError(key string, msg string) {
	<div id={ key + "-error" } hx-swap-oob="innerHTML" style="opacity: 1; height: auto; transform: none;">
		<p
			class="text-sm text-error mt-2 transition-all duration-300 ease-in-out"
			data-formlayout-id="message"
		>{ msg }</p>
	</div>
}
