package vapplication

import (
	"github.com/cloudness-io/cloudness/app/request"
	"github.com/cloudness-io/cloudness/app/web/views/components/icons"
)

templ createButton(envUID int64) {
	if request.IsProjectOwner(ctx) {
		<a class="button-link">
			<i class={ icons.AddIcon }></i> Create
		</a>
	}
}
