package vapplication

import (
	"github.com/cloudness-io/cloudness/app/web/views/components/vnetwork"
	"github.com/cloudness-io/cloudness/types"
)

templ NetworkSettings(app *types.Application) {
	@vnetwork.NetworkSettings(app)
}
