name: Cloudness Release

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-cloudness-app:
    name: Cloudness App
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/_build-app.yml
    with:
      enable-cache: true
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

  build-cloudness-builder:
    name: Builder Plugin
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/_build-builder.yml
    with:
      enable-cache: true
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

  upload-scripts:
    runs-on: ubuntu-latest
    needs: [build-cloudness-app, build-cloudness-builder]
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Extract version from tag
        id: version
        run: |
          if [[ "${{ github.ref }}" == refs/tags/* ]]; then
            VERSION=${GITHUB_REF#refs/tags/}
          else
            VERSION="latest"
          fi
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Replace version placeholder in YAML files
        run: |
          sed -i "s|{{.App.Version}}|${{ steps.version.outputs.version }}|g" ./scripts/install/cloudness-app.yaml

      - name: Upload Script files
        uses: ryand56/r2-upload-action@latest
        with:
          r2-account-id: ${{ secrets.SCRIPTS_BUCKET_ACCOUNT_ID }}
          r2-access-key-id: ${{ secrets.SCRIPTS_BUCKET_ACCESS_KEY_ID }}
          r2-secret-access-key: ${{ secrets.SCRIPTS_BUCKET_SECRET_ACCESS_KEY }}
          r2-bucket: ${{ secrets.SCRIPTS_BUCKET_NAME }}
          source-dir: ./scripts/install
          destination-dir: ./
