name: Plugin - Helper

on:
  # push:
  #   branches:
  #     - main
  #   tags:
  #     - "v*.*.*"
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-cloudness-helper:
    name: Helper Plugin
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/_build-helper.yml
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
