name: Plugin - Placeholder

on:
  # push:
  #   branches:
  #     - main
  #   tags:
  #     - "v*.*.*"
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      tag:
        type: string
        description: "Tag to publish"
        required: true

env:
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-placeholder:
    runs-on: ubuntu-latest
    # Sets the permissions for the GITHUB_TOKEN for security
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository }}/placeholder
            ${{ secrets.DOCKERHUB_USERNAME }}/placeholder
          tags: |
            type=raw,value=${{ github.event.inputs.tag }}


      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./plugins/placeholder
          file: ./plugins/placeholder/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          # Pass build arguments for versioning
          # Extracts version from git tag e.g., v1.2.3 -> 1, 2, 3
          build-args: |
            GIT_COMMIT=${{ github.sha }}